section{
    height: 500px;
    width:100%;
    background: black;
    display: flex;
    gap: 30px;
    position: sticky;
    top:0;
}

div{
    height: 200px;
    width: 200px;
    background: red;
    border: 1px solid green;
}

/* #box2{
    position:satic;
    top:100px;
    left:100px;
} */

/* #box2{
    position: relative;
    top:100px;
} */
/* #box2{
    position: absolute;

    bottom: 200px;
} */
/* #box2{
    position: fixed;
    left: 1000px;
    bottom:100px;
} */