.box{
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    position: absolute;
    animation-name: slider; 
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    /* animation-delay: 5s; */
    border-radius: 100%;
}

.box1{
    animation-delay: 1s;
}

 .box2{
    animation-delay: 2s;
} 

.box3{
    animation-delay: 2s;
}

.box3{
    animation-delay: 3s;
}

@keyframes slider{ 
    /* *from{
        top: 0;
        left:0;
    }

    to{
        top: 100px;
        left: 100px;
        background-color: green;
    } */

    0%{
        top:0;
        left:0;
    }

    25%{

        top:0;
        left:400px;
        background-color: green;

    }

    50%{
        top:400px;
        left:400px;
        background-color: yellow;
    } 
    
    75%{
        top:400px;
        left:0px;
        background-color: blue;
    }

    100%{
        top: 0px;
        left: 0px;
     }
    }