div{
    height: 200px;
    width:200px;
    background: red;
}
div:hover{
    transform: rotate(45deg);
}
/* div:hover{
    transform: scale(1.5);
}
div:hover{
    transform: skew(20deg);
}
div:hover{
    transform: translate(10px,10px);
} */