section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcard{
    height: 400px;
    width: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bio{
    opacity: 0;
}
img:hover {
    transform: scale(1.5);
    transition: all 2s;
    filter:grayscale(1);

}
img:hover ~ .bio{
    opacity: 1;
    position: absolute;
    bottom:100px;
    transform: translate(50px);
}