/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    height: auto;
    width: 100%;
    background:black;
    display :flex;
    justify-content: space-around;
    align-items: center;
    color :white;
}
.box1,.box2,.box3{
    margin: 30px;
    padding: 20px;
}

.box1{

    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    

}
.box2{
    display: flex;
}
.box2 p{
    text-align: justify;
    text-wrap: wrap;
}
.box3{
    display:flex;
    flex-direction: column;

} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    height: auto;
    width: 100%;
    background: black;
    padding: 20px 0;
}

.footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box1, .box2, .box3 {
    flex: 1;
    text-align: center;
    margin: 7px;
}

.box1 i {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.box2 p {
    color: white;
    text-align: left;
    white-space: wrap;
}
.box3{
    margin-left: 50px;
}

.box3 h1 {
    color: white;
    text-align: center;
}



form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {

    background: transparent;
    text-align: center;
    border-bottom: 1px solid red;
    padding: 7px;
    margin-bottom: 7px;
}
input:focus{
    color: white;
    border: none;
}

button {
    background-color: rgb(231, 167, 5);
    font-size: 10px;
    font-weight: 900;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}
